server {
	listen 4242; #comment
	server_name example.org www.example.org;
	#comment
	root /var/www/html;

	index index.html;
	server {
		listen 8080;
	}
	
	location / {
		autoindex on;
		allow GET;
		client_max_body_size 5M;
	}

	#comment

	location /img {
		root www; #comment
		deny all;
	}
	client_max_body_size 5M;
	autoindex off;
}