#huh, another comment?
server {
	listen 80;
	server_name f1r4s5.codam.nl;
	root /Users/rrinia/dev/gopher++/http_root;
	index index.html;
	autoindex on;
}

#this is getting out of hand...
server {
	listen 80;
	server_name 127.0.0.1;
	root /tmp;
	index index.php;
	autoindex off; #... now there's two of them
}

