#comment
server {
	listen 127.0.0.1 8080;
	server_name localhost;
	root /Users/rrinia/dev/gopher++;
	index index.c;
	autoindex on;
	error_page403 /Users/rrinia/dev/gopher++/http_root/error_pages/403.html;
	error_page404 /Users/rrinia/dev/gopher++/http_root/error_pages/404.html;
	error_page405 /Users/rrinia/dev/gopher++/http_root/error_pages/405.html;
	error_page500 /Users/rrinia/dev/gopher++/http_root/error_pages/500.html;

	location /http_root/perl {
		cgi_pass .pl /Users/rrinia/.brew/bin/perl;
	}

	location /http_root/php {
		cgi_pass .php /Users/rrinia/.brew/Cellar/php/8.2.3/bin/php-cgi;
		allowed_methods POST GET;
		client_max_body_size 20M;
		error_page403 /Users/rrinia/dev/gopher++/http_root/error_pages/not_exist.html;
		error_page404 /Users/rrinia/dev/gopher++/http_root/error_pages/not_exist.html;
		error_page405 /Users/rrinia/dev/gopher++/http_root/error_pages/not_exist.html;
		error_page500 /Users/rrinia/dev/gopher++/http_root/error_pages/not_exist.html;
	}
}

server {
	listen 10.11.4.5 8081;
	server_name f1r4s5.codam.nl;
	root /Users/rrinia/dev/gopher++/http_root;
	index index.html;
	autoindex off;

	location /server {
		autoindex on;
	}

	location /se {
		return 302 https://www.google.com;
	}

	location /playground {
		autoindex on;
		allowed_methods GET DELETE;
	}
}

server {
	listen 0.0.0.0 8081;
	server_name localhost;

	root /sgoinfre;
	index gopher++.org;
	autoindex on;

	location /rrinia {
		index index.html;
		autoindex off;
	}
}
