server {
    listen 80;

    server_name redirect_to_https.example.com;
    return 301 https://$host$request_uri;
}

server {
    listen 80;

    server_name localhost;

    root /var/www/example;
    index index.html;

    autoindex on;
}

server {
    listen 80;

    server_name localhost.example.cm;

    root /var/www/localhost;
    index index.html;

    autoindex off;
    deny POST DELETE;
}

server {
    listen 8080;

    server_name eighty_eighty.example.cm;

    root /var/www/eighty_eighty;
    index index.html;

    autoindex off;
    #upload_path /var/www/eighty_eighty/uploads;
}

server {
    listen 8080;

    server_name php.example.cm;

    root /var/www/php;
    index index.php;


    #cgi_handler .php /usr/bin/php-cgi
    autoindex off;
    #upload_path /var/www/php/uploads;
    autoindex on;
}

