server {
	listen 80;
	server_name localhost www.localhost;

	root www/html;

	index index.php index.html index.htm;

	#default location
	location / {
		autoindex on;
		allowed_methods GET;
		client_max_body_size 500M;
	}

	#correct redirection into the cgi-bin
	location /cgi-bin/ {
		#alias /cgi-bin/;
		allowed_methods GET POST DELETE;
		#cgi_pass .pl /usr/bin/perl;
		client_max_body_size 10M;
	}

	#ensures all images work
	location /img {
		root www;
		allowed_methods GET POST;
	}

	#retrieve data or files from here
	location /public {
		root www;
		allowed_methods GET;
	}

	#specifies the file upload html, so it doesn't go into the wrong bin
	location /upload.html {
		allowed_methods GET POST;
		client_max_body_size 10M;
		error_page 405 /error/custom_error_test.html;
	}

	# allow uploads to here
	location /upload {
		root www;
		allowed_methods GET;
	}
	#custom error page for 404
	error_page 404 /error/404.html;
	#max upload size
	client_max_body_size 64M;
	#generally speaking, autoindex is off
	autoindex off;
}


#shows the coffee beans website
######################
## SERVER PORT 4242 ##
######################
#this website does not support POST cgis and also allows for redirection testing
server {
	listen 4242;
	server_name localhost www.localhost;

	root www/html/coffee_and_beans;

	index index.php index.html index.htm;

	location / {
		autoindex on;
		allowed_methods GET;
		client_max_body_size 5M;
	}

	#redirect into /index.html
	location /helloworld {
		allowed_methods GET POST DELETE;
		return 307 /index.html;
	}

	#rickrolls, shows redirection to offsite works too
	location /rickroll {
		allowed_methods GET POST DELETE;
		return 307 https://www.youtube.com/watch?v=p7YXXieghto;
	}

	# does not allow for POST submissions
	location /cgi-bin/ {
		#alias /cgi-bin/;
		allowed_methods GET;
		#cgi_pass .pl /usr/bin/perl;
	}
	
	location /img {
		root www;
		allowed_methods GET POST;
	}
	client_max_body_size 5M;
	autoindex off;
}
