server {
	listen 4242;
	server_name localhost www.localhost;

	root www/html/coffee_and_beans; #hello

	index index.php index.html index.htm;

	location / {
		autoindex on;
		allowed_methods GET;
		client_max_body_size 5M;
	}

	#redirect into /index.html
	location /helloworld {
		allowed_methods GET POST DELETE;
		return 307 /index.html;
	}
	
	location /img {
		root www;
		allowed_methods GET POST;
	}
	client_max_body_size 5M;
	autoindex off;
	index change_index.html;
}