#comment
server {
	listen 80;
	server_name localhost;
	index index.html;
	autoindex off;
	cgi_pass .bla /Users/rrinia/dev/gopher++/cgi_tester;

	location / {
		allowed_methods GET;
	}

	location /put_test/ {
		allowed_methods PUT;
	}

	location /post_body/ {
		allowed_methods POST;
	}

	location /directory/ {
		allowed_methods GET;
		root /Users/rrinia/test_server/YoupiBanane;
		index youpi.bad_extension;
	}
	
#	location /dev {
#		index index.php;
#		cgi_pass .php /Users/rrinia/.brew/Cellar/php/8.2.3/bin/php-cgi;
#		autoindex on;
#	}
}

#server {
#	listen 8080;
#	server_name f1r4s5.codam.nl;
#	root /Users/rrinia/dev/gopher++;
#	index index.html;
#	autoindex on;
#}
